<a href="https://colab.research.google.com/github/basi1l/docs/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
print("enter name")
name=input()
if (name=="bond"):
  print("welcome on board 007")
elif (name=="Bond"):
  print("good morning", name)
else:
  print("not valid")

enter name
Bond
good morning Bond

In [142]:

num=int(input("enter no."))
if(num==(1,2,3,4,5)):
  print(num)
elif(num>5):
  print("bigger")
else:
  print("not valid")

enter no.4
not valid

In [85]:
a=input("enter a no's ")
b=input("enter a no's ")
if (int(a)>int(b)):
  print(a)
else:
  print(b)

enter a no's 6
enter a no's 3
6

In [135]:
age=int(input("Enter age: "))
gend=input("Enter Gender: ")

if gend=="male" or gend=="female":
  if age<=5:
    print("Your cat is "+ gend +" and is young")
  else:
    print("Your cat is "+ gend +" and is old")
else:
  print("Invalid input")

Enter age: 6
Enter Gender: male
Your cat is male and is old

In [90]:
print("enter first ten no")

for i in range(1,11):
  print(i)

enter first ten no
1
2
3
4
5
6
7
8
9
10

In [115]:
num=int(input())
sum=0
for i in range(1,num):
  sum=sum+i
print(sum)

5
10

In [116]:
num=int(input())
print("multiplication table of",num)
for i in range(1,11):
  
  print(num*i)

5
multiplication table of 5
5
10
15
20
25
30
35
40
45
50

In [122]:

num=input("enter no.")
l=len(num)
count=0
num=int(num)
for i in range(l):
  
   num=num//10
   count=count+1
 
print("the no of digits in a number",count)

enter no.234
the no of digits in a number 3

In [133]:

def numpat(n):
  num=1
  for i in range(0,n):
    num=1
    for j in range(0,i+1):
      print(num,end="")
      num=num+1
    print('\r')
n=5
numpat(n)

1
12
123
1234
12345